<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>

  <body>
    <h1>Login Page</h1>

      <div class="row">
        <form class="col s8 offset-s2" action="/sso/login" method="POST">
            <div class='input-field'>
              <input class='validate' type='username' name='username' id='username' />
              <label for='username'>Enter your username</label>
            </div>
  
            <div class='input-field'>
              <input class='validate' type='password' name='password' id='password' />
              <label for='password'>Enter your password</label>
            </div>

            <br>

            <div class="col s3 offset-s5">
              <button class="btn waves-effect grey darken-3" name="loginButton">Login</button>
            </div>
            <br><br>
            <input type="hidden" name="redirect_back_to" value="{{ redirect_back_to }}">
        </form>
      </div>

  </body>
</html>


